:root {
    /*Colores de texto*/
    --text: #F3F3F3;
    --subtext: #CECECE;
    /*background*/
    --background: #202020;
    /*color principal de las interfaces*/
    --main: #161616;
    --main-elevated: #232323;
    --highlight: #2A2A2A;
    --highlight-elevated: #292929;
    --card: #303030;
    --shadow: #252525;
    --selected-row: #CECECE;
    /*colores alternativos para los botones*/
    --button: #3281EA;
    --button-active: #0284E8;
    --button-disabled: #303030;
    /*scrollbar*/
    --scrollbar: #FFFFFF25;
    --scrollbar-hover: #FFFFFF50;
    --scrollbar-highligth: #FFFFFF75;
    /*colores extra*/
    --notification: #3281EA;
    --notification-error: #F05454;
    --notification-warning: #FFD369;
    --notification-success: #BEF992;
}

/* FUENTES */
@font-face {
    font-family: 'black';
    src: url('../fonts/black.otf') format('truetype');
}

@font-face {
    font-family: 'bold';
    src: url('../fonts/bold.ttf') format('truetype');
}

@font-face {
    font-family: 'book';
    src: url('../fonts/book.ttf') format('truetype');
}

/* AJUSTES DE ESTILO DE TEXTO */
h1, h2, h3 {
    font-family: "black", sans-serif;
}

h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    margin: 10px auto;
}

h2 {
    font-size: 2em;
    margin: 10px auto;
}

h3 {
    font-size: 1.75em;
    margin: 10px auto;
}

h4, h5, h6, p {
    font-family: "book", sans-serif;
}

h4 {
    font-size: 1.5em;
    margin: 10px auto;
}

h5 {
    font-size: 1.25em;
    margin: 20px auto;
}

h6 {
    font-size: 1em;
    margin-top: 15px;
    margin-bottom: 6px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: var(--text);;
    font-size: 1em;
    line-height: 1.5;
    font-family: "book", sans-serif;
    user-select: none;
}

p {
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    -webkit-user-drag: none;
}

/*POPUP*/
#notificationPopup{
    z-index: 10;
    display: flex;
    position: fixed;
    bottom: 15%;
    left: 50%;
    max-width: 480px;
    height: 45px;
    max-height: 45px;
    transform: translate(-50%, -50%);
    background-color: var(--notification);
    border-radius: 10px;
    font-family: "book", sans-serif;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    transition: opacity 0.3s ease;
    align-items: center;
    padding: 10px;
    align-content: center;
    justify-content: center;
    opacity: 0;
}

#notificationPopup p {
    color: var(--text);
    font-family: "bold", sans-serif;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Caja de texto */
.normal-textbox {
    position: relative;
    margin: 10px 0;
}

.normal-textbox input,
.normal-textbox textarea {
    font-family: "book", sans-serif;
    background-color: var(--highlight);
    border: 2px solid rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 10px;
    color: var(--text);
    transition: all 0.3s ease;
    outline: none;
    margin: 5px 10px;
}

.normal-textbox textarea {
    resize: none;
}

.normal-textbox input:hover,
.normal-textbox textarea:hover {
    border-color: rgba(255, 255, 255, 0.1);
}

.normal-textbox input:focus,
.normal-textbox textarea:focus {
    background-color: var(--background);
    border-color: rgba(255, 255, 255, 0.15);
}

.normal-textbox label {
    font-family: "bold", sans-serif;
    position: absolute;
    top: -8px;
    left: 8px;
    font-size: 12px;
    color: var(--text);
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
    padding: 0 7px;
    text-shadow:
    1px 1px 0 var(--background),
    -1px 1px 0 var(--background),
    -1px -1px 0 var(--background),
    1px -1px 0 var(--background);
}

.normal-textbox input:focus + label,
.normal-textbox input:not(:placeholder-shown) + label,
.normal-textbox textarea:focus + label,
.normal-textbox textarea:not(:placeholder-shown) + label {
    opacity: 1;
}

/* Botones */
.rounded-button {
    font-family: "bold", sans-serif;
    border-radius: 50px;
    background-color: var(--text);
    color: var(--main);
    padding: 10px 20px;
    margin: 5px 10px;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease;
    font-size: 16px;
}

.rounded-button:hover {
    transform: scale(1.01);
}

.rounded-button:active {
    opacity: 0.5;
    transform: scale(0.99);
}

/* Estilos para la barra de scroll */
::-webkit-scrollbar {
    width: 9px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    transition: all 0.3s ease;
    background: var(--scrollbar);
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover);
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb:active {
    background: var(--scrollbar-highligth);
}

/* VENTANA PRINCIPAL DE LAS DEMAS PÁGINAS */

.appcontainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: var(--main);
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden; /* Asegura que el contenedor maneje el desbordamiento */
    opacity: 0;
}

.sidebar_mainContent {
    margin: 1%;
    display: flex;
    flex-grow: 1;
    max-height: calc(100vh - 100px - 3%);
    overflow: hidden;
}

.sidebarContainer {
    display: flex;
    flex-direction: column;
    min-width: 210px;
    width: 210px;
    border-radius: 10px;
    margin-right: 1%;
    overflow: hidden;
}

.mainContentContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.main {
    margin-top: -50px;
    color: var(--text-color);
    flex-grow: 1;
    background-color: var(--main-elevated);
    overflow-y: auto;
    padding: 50px 3% 3% 3%;
}

#musicLibrary {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    justify-items: center;
    overflow-x: hidden;
}

.musicContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: transparent;
}

.musicContent:hover {
    background-color: var(--highlight-elevated);
}

.musicContent:active {
    background-color: var(--background);
}

.musicContent img {
    width: auto;
    height: auto;
    max-width: 125px;
    max-height: 125px;
    min-width: 110px;
    min-height: 110px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.musicContent_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.musicContent_title {
    font-family: "bold", sans-serif;
    font-size: 0.8em;
    color: var(--text);
    text-align: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.musicContent_subtitle {
    font-family: "book", sans-serif;
    font-size: 0.7em;
    color: var(--subtext);
    text-align: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}


#albumPageContainer {
    display: flex;
    flex-direction: column;
}

#albumContent {
    margin: -50px -3% -18% -3%;
    padding: 50px 3% 20% 3%;
    transition: opacity 0.3s ease;
}

#album_contentInfo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

#album_cover {
    border-radius: 10px;
    height: 22vh;
    width: auto;
    aspect-ratio: 1;
    object-fit: cover;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

#album_contentText {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    overflow: hidden;
}

#album_contentType {
    font-family: "bold", sans-serif;
    font-size: 12px;
    color: var(--subtext);
}

#album_contentTitle {
    font-family: "black", sans-serif;
    font-size: clamp(3vw, 3.3vw, 4.3vw);
    color: var(--text);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.25;
    text-align: center;
}

#album_contentExtrasContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.album_contentExtra {
    font-family: "bold", sans-serif;
    font-size: 15px;
    color: var(--subtext);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#album_playerControls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap : 15px;
    margin: 10px 0;
}

.album_playerControlsButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.75;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    width: 28px;
    height: 28px;
    transition: transform 0.3s ease;
}

#album_playButton {
    border: none;
    background-color: var(--text);
    padding: 7px 12px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.album_playerControlsButtons:hover,
#album_playButton:hover {
    transform: scale(1.05);
}

.album_playerControlsButtons:active,
#album_playButton:active {
    opacity: 0.5;
    transform: scale(0.95);
}

#album_playButton p {
    font-family: "bold", sans-serif;
    font-size: 15px;
}

.album_playerControlsButtons img {
    width: 26px;
    height: 26px;
}

#album_songsLists {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.album_songEntry {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    transition: all 0.3s ease;
    position: relative;
}

.album_songEntry:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.album_songEntryNumber {
    height: 100%;
    width: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.album_songEntryNumber p {
    font-family: "bold", sans-serif;
    font-size: 14px;
    color: var(--subtext);
    transition: all 0.3s ease;
    margin: 0;
    position: absolute;
}

.album_songEntryNumber_play {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.album_songEntryNumber_play:hover {
    transform: scale(1.1);
}

.album_songEntryNumber_play:active {
    opacity: 0.5;
    transform: scale(0.9);
}

.album_songEntry:hover .album_songEntryNumber_play {
    opacity: 1;
}

.album_songEntry:hover .album_songEntryNumber p  {
    opacity: 0;
}

.album_songEntryNumber_play img {
    width: 2.8vw;
    height: 2.8vw;
    max-width: 30px;
    max-height: 30px;
}

.album_songEntryTitle {
    height: 100%;
    width: 41.5%;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.album_songEntryTitle p {
    font-family: "bold", sans-serif;
    font-size: 15px;
    color: var(--text);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.album_songEntryArtist {
    height: 100%;
    width: 41.5%;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.album_songEntryArtist p {
    font-family: "bold", sans-serif;
    font-size: 15px;
    color: var(--subtext);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.album_songEntryDuration {
    height: 100%;
    width: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.album_songEntryDuration p {
    font-family: "bold", sans-serif;
    font-size: 14px;
    color: var(--subtext);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#searchBarContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchBar {
    font-family: "book", sans-serif;
    font-size: 15px;
    color: var(--subtext);
    width: 70%;
    padding: 15px;
    border-radius: 50px;
    border: none;
}

/*UNUSED-DELETE AFTER TESTING*/
.itemsContainer {
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
}

.itemButton {
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    width: 150px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.itemButton:hover {
    background-color: #373737;
    transition-duration: 0.2s;
}

.itemButton:active {
    background-color: #010101;
}

.itemButton img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 15px;
    margin: 10px 10px;
}

.itemButton p {
    font-size: 15px;
    margin: 0 20px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.itemButton span {
    font-size: 12px;
    opacity: 50%;
    margin: 5px 0 10px 0;
}
