:root {
    /*Colores de texto*/
    --text: #F3F3F3;
    --subtext: #CECECE;
    /*background*/
    --background: #202020;
    /*color principal de las interfaces*/
    --main: #161616;
    --main-elevated: #232323;
    --highlight: #2A2A2A;
    --highlight-elevated: #292929;
    --card: #303030;
    --shadow: #252525;
    --selected-row: #CECECE;
    /*colores alternativos para los botones*/
    --button: #3281EA;
    --button-active: #0284E8;
    --button-disabled: #303030;
    /*scrollbar*/
    --scrollbar: #FFFFFF25;
    --scrollbar-hover: #FFFFFF50;
    --scrollbar-highligth: #FFFFFF75;
    /*colores extra*/
    --notification: #3281EA;
    --notification-error: #F05454;
    --notification-warning: #FFD369;
    --notification-confirm: #BEF992;
}

/* FUENTES */
@font-face {
    font-family: 'black';
    src: url('../fonts/black.otf') format('truetype');
}

@font-face {
    font-family: 'bold';
    src: url('../fonts/bold.ttf') format('truetype');
}

@font-face {
    font-family: 'book';
    src: url('../fonts/book.ttf') format('truetype');
}

/* AJUSTES DE ESTILO DE TEXTO */
h1, h2, h3 {
    font-family: "black", sans-serif;
}

h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    margin: 10px auto;
}

h2 {
    font-size: 2em;
    margin: 10px auto;
}

h3 {
    font-size: 1.75em;
    margin: 10px auto;
}

h4, h5, h6, p {
    font-family: "book", sans-serif;
}

h4 {
    font-size: 1.5em;
    margin: 10px auto;
}

h5 {
    font-size: 1.25em;
    margin: 20px auto;
}

h6 {
    font-size: 1em;
    margin-top: 15px;
    margin-bottom: 6px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: var(--text);;
    font-size: 1em;
    line-height: 1.5;
    font-family: "book", sans-serif;
    user-select: none;
}

p {
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Caja de texto */
.textbox_container {
    position: relative;
    margin: 10px 0; /* Reduce el espacio vertical entre las cajas de texto */
}


input, textarea {
    font-family: "book", sans-serif;
    background-color: var(--highlight);
    border: 2px solid rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 10px;
    color: var(--text);
    transition: all 0.3s ease;
    outline: none;
    margin: 5 10px;
}

textarea {
    resize: none;
}

input:hover,
textarea:hover {
    border-color: rgba(255, 255, 255, 0.1);
}

input:focus,
textarea:focus {
    background-color: var(--background);
    border-color: rgba(255, 255, 255, 0.15);
}

label {
    font-family: "bold", sans-serif;
    position: absolute;
    top: -8px;
    left: 8px;
    font-size: 12px;
    color: var(--text);
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
    padding: 0 7px;
    text-shadow:
    1px 1px 0 var(--background),
    -1px 1px 0 var(--background),
    -1px -1px 0 var(--background),
    1px -1px 0 var(--background);
}

input:focus + label,
input:not(:placeholder-shown) + label,
textarea:focus + label,
textarea:not(:placeholder-shown) + label {
    opacity: 1;
}

/* Botones */
button {
    font-family: "bold", sans-serif;
    border-radius: 50px;
    background-color: var(--text);
    color: var(--main);
    padding: 10px 20px;
    margin: 5px 10px;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease;
    font-size: 16px;
}

button:hover {
    transform: scale(1.01);
}

button:active {
    opacity: 0.5;
    transform: scale(0.99);
}

/* Estilos para la barra de scroll */
::-webkit-scrollbar {
    width: 9px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    transition: all 0.3s ease;
    background: var(--scrollbar);
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover);
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb:active {
    background: var(--scrollbar-highligth);
}

/* VENTANA PRINCIPAL DE LAS DEMAS PÁGINAS */

.appcontainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: var(--main);
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden; /* Asegura que el contenedor maneje el desbordamiento */
}

.sidebar_mainContent {
    margin: 1%;
    display: flex;
    flex-grow: 1;
    max-height: calc(100vh - 100px - 3%);
    overflow: hidden;
}

.sidebarContainer {
    display: flex;
    flex-direction: column;
    min-width: 210px;
    width: 210px;
    border-radius: 10px;
    margin-right: 1%;
    overflow: hidden; /* Asegura que el contenedor maneje el desbordamiento */
}

.mainContentContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden; /* Asegura que el contenedor maneje el desbordamiento */
}

.main {
    margin-top: -50px;
    color: var(--text-color);
    flex-grow: 1;
    background-color: var(--main-elevated);
    overflow-y: auto;
    padding: 30px 2% 2% 2%;
}

/* Clases para ajustar el ancho */
.width-20 {
    width: 20% !important;
}

.width-40 {
    width: 40% !important;
}

.width-60 {
    width: 60% !important;
}

.width-80 {
    width: 80% !important;
}

.width-100 {
    width: 100% !important;
}

/* Son usados para la pagina de libreria, pagina de plugins y para cargar el inicio */
.itemsContainer {
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
}

.itemButton {
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    width: 150px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.itemButton:hover {
    background-color: #373737;
    transition-duration: 0.2s;
}

.itemButton:active {
    background-color: #010101;
}

.itemButton img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 15px;
    margin: 10px 10px;
}

.itemButton p {
    font-size: 15px;
    margin: 0 20px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.itemButton span {
    font-size: 12px;
    opacity: 50%;
    margin: 5px 0 10px 0;
}
