.main_toolbar {
    z-index: 1;
    min-height: 50px;
    height: 50px;
    background-color: var(--main-elevated);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    box-sizing: border-box;
}

.main_toolbar_buttons_container {
    display: flex;
    white-space: nowrap;
}

.main_toolbar_buttons_container button {
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    border: none;
    border-radius: 50%;
    background-color: var(--highlight);
    transition: all 0.1s ease;
    padding: 0px;
}

.main_toolbar_buttons_container img {
    width: 16px;
    height: 16px;
}

.main_toolbar_buttons_container button:hover {
    background-color: var(--highlight-elevated);
    transform: scale(1.05);
    outline: none;
}

.main_toolbar_buttons_container button:active {
    background-color: var(--background);
    transform: scale(0.95);
    opacity: 0.7;
}

.main_toolbar_profile_picture_button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--highlight);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 3px;
    overflow: hidden;
    transition: all 0.1s ease;
}

.main_toolbar_profile_picture_button img {
    width: 26px;
    height: 26px;
    object-fit: cover;
    border-radius: 50%;
}

.main_toolbar_profile_picture_button:hover {
    background-color: var(--highlight-elevated);
    transform: scale(1.05);
    outline: none;
}

.main_toolbar_profile_picture_button:active {
    background-color: var(--background);
    transform: scale(0.95);
    opacity: 0.7;
}
