.main_toolbar {
    position: fixed;
    top: 1%;
    left: calc(1% + 210px);
    width: calc(99% - 220px);
    height: 50px;
    margin-top: 5px;
    padding: 15px;
    overflow-y: hidden;
    color: white;
    background: #121212;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_toolbar_buttons_container {
    display: flex;
    white-space: nowrap;
}

.main_toolbar_buttons_container button {
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    border: none;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.05);
    transition: all 0.1s ease;
    padding: 0px;
}

.main_toolbar_buttons_container img {
    width: 16px;
    height: 16px;
}

.main_toolbar_buttons_container button:hover,
.main_toolbar_buttons_container button:focus {
    background-color: rgb(255, 255, 255, 0.1);
    transform: scale(1.05);
    outline: none;
}

.main_toolbar_buttons_container button:active {
    background-color: rgb(255, 255, 255, 0.02);
    transform: scale(0.95);
    opacity: 0.7;
}

.main_toolbar_logo_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.main_toolbar_logo_container img {
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.main_toolbar_logo_container p {
    font-family: "black", sans-serif;
    font-size: 20px;
    margin-left: 5px;
}

.main_toolbar_profile_picture_button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 3px;
    overflow: hidden;
    transition: all 0.1s ease;
}

.main_toolbar_profile_picture_button img {
    width: 26px;
    height: 26px;
    object-fit: cover;
    border-radius: 50%;
}

.main_toolbar_profile_picture_button:hover,
.main_toolbar_profile_picture_button:focus  {
    background-color: rgb(255, 255, 255, 0.1);
    transform: scale(1.05);
    outline: none;
}

.main_toolbar_profile_picture_button:active {
    background-color: rgb(255, 255, 255, 0.02);
    transform: scale(0.95);
    opacity: 0.7;
}
