/*SIDEBAR*/
.sidebar_container_static {
    width: 100%;
    background-color: var(--main-elevated);
    border-radius: 10px;
    padding: 10px;
}

.sidebar_container_dynamic {
    width: 100%;
    height: 100%;
    margin-top: 5%;
    padding: 10px;
    background-color: var(--main-elevated);
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar_buttons {
    width: calc(100%);
    background-color: var(--main-elevated);
    color: var(--text);
    display: flex;
    align-items: center;
    border: none;
    padding: 9px 15px; 
    text-align: left;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.sidebar_buttons:hover {
    outline: none;
    transform: scale(1);
    background-color: var(--highlight-elevated);
}

.sidebar_buttons:active {
    opacity: 1;
    background-color: var(--background);
    transform: scale(1);    
    text-decoration: underline;
}

.sidebar_buttons_image {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin-right: 15px;
}

.sidebar_buttons_svg {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sidebar_buttons_text {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: left;
}

.sidebar_buttons_title {
    font-family: "book", sans-serif;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text);
}

.sidebar_buttons_subtitle {
    font-family: "book", sans-serif;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--subtext);
}
