body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: transparent;
}

.splash {
    -webkit-app-region: no-drag;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
}

.splash img {
    -webkit-user-drag: none;
    user-select: none;
    width: 240px;
    height: 336px;
    object-fit: cover;
}