/*TASKBAR*/
.taskbar {
    min-height: 100px;
    height: 100px;
    background-color: gold;
    border-radius: 10px;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
}
