/*TASKBAR*/
.taskbar {
    width: 97.98%;
    height: 90px;
    min-height: 90px;
    background-color: var(--main-elevated);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    border-radius: 10px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    box-sizing: border-box;
}
