.titlebar {
    display: block;
    min-height: 36px;
    height: 36px;
    width: calc(100% - 2px);
    background: var(--main);
    margin-bottom: -1%;
}

.titlebarDraggable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
}

.titlebarLogo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.titlebarLogo img {
    width: 20px;
    height: 20px;
    margin-left: 12px;
    opacity: 0.5;
}

.titlebarLogo p {
    font-family: "black", sans-serif;
    font-size: 15px;
    margin-left: 5px;
    opacity: 0.5;
    color: var(--text);
}

.titlebarButtonsContainer {
    -webkit-app-region: no-drag;
    margin-left: auto;
    display: flex;
    position: relative;
    align-items: center;
    margin: -1px;
}

.titlebarButton {
    width: 50px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.titlebarButton:hover {
    transition: all 0.3s ease;
    background-color: var(--highlight);
}

#closeButton:hover {
    background-color: var(--notification-error);
}

.titlebarButton:active {
    transition: all 0.1s ease;
    opacity: 0.25;
}

.titlebarButton img {
    width: 10px;
    height: 10px;
}