.appcontainer {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#spectralLogo {
    width: 100%;
    height: 15px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin: 10px 0 5px 0;
    opacity: 0.5;
}

#spectralLogo p {
    font-family: "black", sans-serif;
    font-size: 12px;
}

#spectralLogo img {
    width: 15px;
    height: 15px;
}

.separator {
    width: 100%;
    height: 0.5px;
    background-color: var(--text);
    opacity: 0.5;
    margin: 5px 0;
}

.trayOption {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--text);
    padding: 0 16px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.trayOption p {
    font-family: "book", sans-serif;
    font-size: 12px;
}

.trayOption:hover {
    background-color: var(--main-elevated);
}

.trayOption:active {
    background-color: var(--background);
}