/*FUENTES USADAS*/
@font-face {
    font-family: 'black';
    src: url('assets/fonts/black.otf') format('truetype'); /* Ruta al archivo de fuente */
}

@font-face {
    font-family: 'bold';
    src: url('assets/fonts/bold.ttf') format('truetype'); /* Ruta al archivo de fuente */
}

@font-face {
    font-family: 'book';
    src: url('assets/fonts/book.ttf') format('truetype'); /* Ruta al archivo de fuente */
}

/*AJUSTES DE ESTILO DE TEXTO*/

h1 {
    font-family: "black", sans-serif;
    font-size: 6vw;
    text-transform: uppercase;
    margin: 10px auto;
}

h2 {
    font-family: "black", sans-serif;
    font-size: 5vw;
    margin: 10px auto;
}

h3 {
    font-family: "black", sans-serif;
    font-size: 4vw;
    margin: 10px auto;
}

h4 {
    font-family: "book", sans-serif;
    font-size: 3vw;
    margin: 10px auto;
}

h5 {
    font-family: "book", sans-serif;
    font-size: 2vw;
    margin: 20px auto;
}

h6 {
    font-family: "book", sans-serif;
    font-size: 1vw;
    margin-top: 15px;
    margin-bottom: 6px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #050505;
    font-size: 2vw;
    font-family: "book", sans-serif;
    user-select: none
}

p {
    margin: 0;
    padding: 0;
    font-size: 2vw;
    font-family: "book", sans-serif;
}

/* Estilos para la barra de scroll */
::-webkit-scrollbar {
    width: 7px;
    height:7px;

}


::-webkit-scrollbar-thumb {
    background: #5a5a5a;
    border-radius: 10px;
}

::-webkit-scrollbar-button {display: none;}

::-webkit-scrollbar-thumb:hover {
    transition-duration: 1s;
    background: #898989;
}

::-webkit-scrollbar-track {
    background: transparent;
    width: 7px
}

::-webkit-scrollbar-thumb:active {background: #b8b8b8;}

/*BARRA LATERAL*/
.tabsStatic {
    position: relative;
    left: 1%;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 160px;
    background-color: #121212;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

.tabsScroll {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    height: calc(99.7% - 300px);
    background-color: #121212;
    border-radius: 10px;
    overflow-y: auto;
}

.tabsButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(106%);
}

.tabsButton:hover {
    transition-duration: 1s;
    filter: invert(50%) sepia(6%) saturate(0%) hue-rotate(180deg) brightness(300%) contrast(100%);
}

.tabsButton:active {text-decoration: underline;}

.tabsButton img {
    width: 25px;
    height: 25px;
    margin-left: 20px;
    margin-right: 20px
}

.tabsButton span {
    font-family: "book", sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 14px;
    margin-bottom: 14px;
}

/*BARRA DE CANCION EN PLAY*/
.taskbar {
    position: fixed;
    bottom: 10px;
    left: 1%;
    width: 98%;
    height: 83px;
    background-color: #121212;
    border-radius: 10px;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Area de los detalles de la cancion que se reproduce actualmente*/
.songDetails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 7px;
}

.coverButton {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.coverButton:hover {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(150%) contrast(100%);
}

.coverButton:active {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(80%) contrast(100%);
}

.songCover {
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

.songText {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 3px;
    border: none;
    background-color: transparent;
}

.songName {
    font-family: "book", sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.songName:hover {
    cursor: pointer;
    text-decoration: underline;
}

.songArtist {
    font-family: "book", sans-serif;
    font-size: 12px;
    margin-top: 3px;
    color: #b8b8b8
}

.songArtist:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*Area de los controles de la reproduccion*/

.songControl {
    display: inline-block;
    justify-content: center;
    align-content: center;
}

.buttonsRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonsRow button {
    cursor: pointer;
    background: transparent;
    border: none;
    width: 25px;
    height: 25px;
    margin: 5px;
    filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(300%) contrast(100%);
}

.buttonsRow button:hover {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(0%);
}

.buttonsRow button:active {
    transform: scale(0.9);
}

.buttonsRow button:nth-child(2){
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50px;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.playIcon {
    width: 18px;
    height: 18px;
}

.buttonsRow button:nth-child(2):hover {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(80%) contrast(100%);
}

.buttonsRow button:nth-child(2):active  {
    transform: scale(0.9);
}

.buttonsRow p {
    font-size: 10px;
    font-family: "book", sans-serif;
    margin: 5px;
}

.songPos {
    -webkit-appearance: none;
    width: 250px;
    height: 5px;
    background: linear-gradient(to right, #2B78F7 0%, #2B78F7 00%, #FFFFFF 00%, #FFFFFF 0%);
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

.songPos::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #2B78F7;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid #fff;

}

.songPos::-webkit-slider-thumb:hover {
    border: 6px solid #fff;
}

/*BOTONES ARRIBA DE PAGINA ANTERIOR Y BOTON DE USUARIO*/
.topButtons {
    position: fixed;
    top: 1%;
    left: calc(1% + 210px);
    width: calc(99% - 220px);
    height: 50px;
    margin-top: 5px;
    padding: 10px;
    overflow-y: hidden;
    color: white;
    background: #121212;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.webControlsButtons {
    margin-left: 10px;
}

.webControlsButtons button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50px;
}

.webControlsButtons img {
    width: 15px;
    height: 15px;
    align-items: center;
    filter: invert(100%) sepia(6%) saturate(0%) hue-rotate(174deg) brightness(100%) contrast(100%);
}

.webControlsButtons button:hover {
    filter: invert(0%) sepia(6%) saturate(0%) hue-rotate(174deg) brightness(150%) contrast(100%);
}

.webControlsButtons button:active {
    filter: invert(0%) sepia(6%) saturate(0%) hue-rotate(174deg) brightness(80%) contrast(100%);
}

.spectralLogo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.spectralLogo img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.spectralLogo p {
    font-family: "black", sans-serif;
    font-size: 20px;
    margin-left: 5px;
}

.userPfp img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-right: 10px;
}

/*VENTANA PRINCIPAL DE LAS DEMAS PÁGINAS*/
.main {
    position: fixed;
    top: calc(1% + 55px);
    left: calc(1% + 210px);
    width: calc(99% - 220px);
    height: calc(100% - 165px);
    padding: 0 10px 0;
    overflow-y: auto;
    color: white;
    background: #121212;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
}

/* Son usados para la pagina de libreria, pagina de plugins y para cargar el inicio */
.itemsContainer {
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
}

.itemButton {
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    width: 150px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.itemButton:hover {
    background-color: #373737;
    transition-duration: 0.2s;
}

.itemButton:active {background-color: #010101;}

.itemButton img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 15px;
    margin: 10px 10px;
}

.itemButton p {
    font-size: 15px;
    margin: 0 20px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.itemButton span {
    font-size: 12px;
    opacity: 50%;
    margin: 5px 0 10px 0;
}